<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- ********************* SPRING INTEGRATION ******************** -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/config/spring/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Enable Spring Request Context Holder -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>es.gobcan.istac.indicators.web.server.listener.ApplicationStartup</listener-class>
    </listener>

    <!-- Internal rest api  -->
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/spring/indicators-internal-rest-applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/internal/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/dispatch/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>es.gobcan.istac.indicators.web.server.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/files/download/*</url-pattern>
    </servlet-mapping>

    <!-- Remote logging -->
    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/IndicatorsWeb/remote_logging</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>es.gobcan.istac.indicators.web.server.servlet.QuartzInitializerListener</listener-class>
    </listener>

    <!-- SSO -->
    <listener>
        <listener-class>org.siemac.metamac.web.common.server.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>headersFilter</filter-name>
        <filter-class>es.gobcan.istac.indicators.web.server.filters.GWTCacheControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>headersFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Logout filter -->
    <filter>
        <filter-name>logoutFilter</filter-name>
        <filter-class>org.siemac.metamac.web.common.server.session.SingleSignOutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<!--  CORS -->
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>org.siemac.metamac.core.common.filter.CORSFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/internal/api/*</url-pattern>
	</filter-mapping>
	
	<!-- Url Rewriting -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/internal/api/*</url-pattern>
	</filter-mapping>
    
    <!-- JSONP -->
    <filter>
        <filter-name>JsonpCallbackFilter</filter-name>
        <filter-class>es.gobcan.istac.indicators.rest.spring.web.servlet.filter.JsonpCallbackFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JsonpCallbackFilter</filter-name>
        <url-pattern>/internal/api/*</url-pattern>
    </filter-mapping>	
		
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>IndicatorsWeb.html</welcome-file>
    </welcome-file-list>



</web-app>
