/* Common widget */

.gobcan-style.istac-widget-lastData,
.gobcan-style.istac-widget-temporal {
    width: 423px !important;

}

.gobcan-style.istac-widget-lateral {
    width: 151px !important;
}

.gobcan-style .istac-widget-body {
    box-shadow: none !important;
    border-bottom: none;
}

.gobcan-style.blue.istac-widget-lateral .istac-widget-title {
    background: url("../../images/pestana_peke_azul.gif") no-repeat !important;
    height: 20px;
    overflow: hidden;
    color: #ffffff !important;
}

.gobcan-style.lightBlue.istac-widget-lateral .istac-widget-title {
    background: url("../../images/pestana_peke_lightBlue.gif") no-repeat !important;
    height: 20px;
    overflow: hidden;
    color: #ffffff !important;
}

.gobcan-style.blue.istac-widget-lastData .istac-widget-title,
.gobcan-style.blue.istac-widget-temporal .istac-widget-title {
    background: url("../../images/pestana_azul.gif") no-repeat !important;
    height: 20px;
    overflow: hidden;
    color: #ffffff !important;
}

.gobcan-style.lightBlue.istac-widget-lastData .istac-widget-title,
.gobcan-style.lightBlue.istac-widget-temporal .istac-widget-title {
    background: url("../../images/pestana_lightBlue.gif") no-repeat !important;
    height: 20px;
    overflow: hidden;
    color: #ffffff !important;
}

.gobcan-style.istac-widget-lateral .istac-widget-footer {
    background: url("../../images/bajo_peke_caja.gif") no-repeat !important;
    height: 32px;
}

.gobcan-style.istac-widget-lastData .istac-widget-footer,
.gobcan-style.istac-widget-temporal .istac-widget-footer {
    background: url("../../images/bajo_caja.gif") no-repeat !important;
    height: 32px;
    border: 0;
    width: auto;
}

.gobcan-style .istac-widget-title {
}

.gobcan-style .istac-widget-body {
    border: 0 !important;
}

.gobcan-style .istac-widget-content,
.gobcan-style .istac-widget-body-allIndicators {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

.gobcan-style .istac-widget-body-embed {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    margin: 0;
    padding: 10px;
}

.istac-widget {
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #333;
    background-color: #fff;
}

.istac-widget a:link, .istac-widget a:visited, .istac-widget a:active, .istac-widget a:hover {
    color: #0058B0;
    text-decoration: none;
    border: 0;
}

.istac-widget a:hover {
    text-decoration: underline;
}

.istac-widget-title {
    line-height: 1.3em;
    font-weight: bold;
    padding: 0 7px;
    font-size: 11px;
}

.istac-widget-title-text {
    padding: 3px 0;
    display: block;
}

.istac-widget-body {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

/* LastData Widget*/

.istac-widget-lastData .istac-widget-content {
    padding: 0 3px;
}

.istac-widget-lastData-title {
    line-height: 13px;
    font-weight: normal;
}

.istac-widget-lastData table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11px;
}

.istac-widget-lastData th, .istac-widget-lastData table td {
    padding: 3px;
    line-height: 13px;
    text-align: right;
    vertical-align: top;
}

.istac-widget-lastData th {
    font-weight: bold;
    text-align: right;
    border: 0;
    border-bottom: 2px #EBEBEB solid;
}

.istac-widget-lastData td {
    border-bottom: 1px #EBEBEB solid;
}

.istac-widget-lastData tbody th {
    text-align: left;
    font-weight: bold;
}

.istac-widget-lastData .istac-widget-unit {
    color: #AFAFAF;
}

.istac-widget-unit {
    font-weight: normal;
}

.istac-widget-footer {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    height: 32px;
}

.istac-widget-footer a:link, .istac-widget-footer a:visited, .istac-widget-footer a:active {
    color: #808080 !important;
}

.istac-widget-footer p {
    margin: 0;
}

.istac-widget .istac-widget-embed {
    float: left;
    margin: 0; 
}

.istac-widget-credits a {
    margin: 0;
    font-size: 9px;
}

.istact-widget-tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #fff;
    padding: 2px 5px;
    color: #333;
    display: none;
    font: 11px Arial, Helvetica, sans-serif;
}

.istac-widget p.istact-widget-unit {
    margin-bottom: 0;
    margin-top: 0;
}

.istac-widget p.istact-widget-observation {
    margin-bottom: 0;
}

.istac-widget-lastData .istac-widget-last-data-indicator-column {
    text-align: left;
}

/* lateral widget */
.istac-widget-lateral {
    margin: 0 5px;
}

.istac-widget-lateral-title {
    font-weight: bold;
    line-height: 16px;
    font-size: 11px;
}

.istac-widget-lateral-subtitle {
    color: #AFAFAF;
    line-height: 14px;
    border-top: dotted 1px #C4D0DC;
    border-bottom: dotted 1px #C4D0DC;
    padding: 0;
    font-size: 9px;
}

.istac-widget-lateral-value {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.istac-widget-lateral-dataset {
    border-bottom: solid 1px #EBEBEB;
}

.istac-widget-lateral-dataset:last-child {
    border-bottom: none;
}

.istac-widget.istac-widget-uwa {
    border: none;
}

.istac-widget-body-embed {
    margin: 10px;
}

.istac-widget-body-embed textarea {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.istac-widget-lastData .istac-widget-body-allIndicators {
    border-top: 0;
}

.istac-widget-body-allIndicators {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    border-top: solid 1px #EBEBEB;
}

.istac-widget-body-allIndicators img {
    vertical-align: middle;
    margin-right: 3px;
}

.inlinesparkline canvas {
    vertical-align: middle !important;
}


