<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="pliegos-web">
	<display-name>pliegos-web</display-name>
	<listener>
		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
	</listener>

	<!--  Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--  /Spring -->

	<!--  OVF -->
	<listener>
		<listener-class>com.arte.web.jsf.ovf.webapp.StartupServletContextListener</listener-class>
	</listener>
	<!--  /OVF -->

	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/facelets/tags/taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.compressResources</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
        <param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
        <param-value>false</param-value>
     </context-param>
	
	<context-param>
        <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
        <param-value>2</param-value>
        <description>Only applicable if state saving method is "server" (= default).
                     Defines the amount (default = 20) of the latest views are stored in session.
        </description>
    </context-param>

	<context-param>
		<param-name>com.icesoft.faces.concurrentDOMViews</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.delegateNonIface</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.synchronousUpdate</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config/faces-manage-bean.xml,/WEB-INF/faces-config/faces-navigation-rule.xml,/WEB-INF/faces-config/faces-navigation-rule-ciudadano.xml,/WEB-INF/faces-config/faces-converter.xml,/WEB-INF/faces-config/faces-application.xml,/WEB-INF/faces-config/faces-validator.xml</param-value>
	</context-param>
	<!--  Descarga de documentos -->
	<context-param>
		<param-name>com.icesoft.faces.uploadDirectory</param-name>
		<param-value>/data/gobiernodecanarias.org/perfildelcontratante/temp_upload</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
		<param-value>20000000</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.uploadDirectoryAbsolute</param-name>
		<param-value>true</param-value>
	</context-param>
	<!--  /Descarga de documentos -->


<!--	<context-param>-->
<!--		<param-name>com.icesoft.faces.heartbeatTimeout</param-name>-->
<!--		<param-value>30000</param-value> 	  En milisegundos -->
<!--	</context-param>-->
<!--	 <context-param>-->
<!--		<param-name>com.icesoft.faces.heartbeatRetries</param-name>-->
<!--		<param-value>3</param-value>-->
<!--	</context-param>	-->
<!---->
	<context-param>
		 <param-name>com.icesoft.faces.connectionTimeout</param-name>
		 <param-value>80000</param-value>
	 </context-param>
 
	<!--  Spring -->
	<!--  <context-param>-->
	<!--	 <param-name>org.apache.myfaces.SECURITY_CONTEXT</param-name>-->
	<!--    <param-value>org.acegisecurity.context.SecurityContextImpl</param-value>-->
	<!--  </context-param>-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext-acegi.xml,/WEB-INF/spring/applicationContext-cxf.xml, /WEB-INF/spring/applicationContext-cxf-platino.xml</param-value>
	</context-param>
	<!--  /Spring -->

	<!-- MyFaces -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!-- /MyFaces -->

	<!-- Icefaces -->
	<servlet>
		<servlet-name>Blocking Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- /Icefaces -->

	<!--  Descarga de documentos -->
	<servlet>
		<servlet-name>File Upload Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.arte.web.fileserver.http.FileServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!--  /Descarga de documentos -->
	
	<!-- CXF -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<!-- /CXF -->
	
	<!-- Application Setup -->
	<servlet>
		<servlet-name>Application Setup</servlet-name>
		<servlet-class>com.arte.contratacion.pliegos.web.servlet.ApplicationSetup</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!-- /Application Setup -->
	
	<!-- Servlets para el quartz    -->
   	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
        	<param-name>config-file</param-name>
            <param-value>/data/gobiernodecanarias.org/perfildelcontratante/conf/quartz/quartz.properties</param-value>
        </init-param>
	</servlet>
	
	<!-- Captcha -->
	<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
	</servlet>
	
	<!-- Mappings -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Blocking Servlet</servlet-name>
		<url-pattern>/block/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>/xmlhttp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>*.iface</url-pattern>
	</servlet-mapping>

	<!--  Descarga de documentos -->
	<servlet-mapping>
		<servlet-name>File Upload Servlet</servlet-name>
		<url-pattern>/uploadHtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/fileServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/fileServlet</url-pattern>
	</servlet-mapping>
	<!--  /Descarga de documentos -->
	
	<!-- Captcha -->
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/captcha.jpg</url-pattern>
	</servlet-mapping>
	
	<!--  Character Encoding -->
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>com.arte.web.filter.characterencoding.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>characterEnc</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceCharacterEnc</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<url-pattern>/uploadHtml/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<url-pattern>/fileServlet/*</url-pattern>
	</filter-mapping>
	<!--  /Character Encoding -->

	<!--  Acegi - Invalidacion de sesiones - OJOOO DEBE PONERSE ANTES DEL FILTRO DE ACEGI -->
	<filter>
		<filter-name>Session Invalidate</filter-name>
		<filter-class>com.arte.contratacion.pliegos.web.filter.SessionInvalidate</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Session Invalidate</filter-name>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>Session Invalidate</filter-name>
		<url-pattern>/contenido/inicio.iface</url-pattern>
	</filter-mapping>
	<!--  /Acegi - Invalidacion de sesiones-->

	<!--  Acegi -->
	<filter>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>filterChainProxy</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--  /Acegi -->
	
	

	<!--  Timezone -->
	<filter>
		<filter-name>TimezoneBugfix</filter-name>
		<filter-class>com.arte.contratacion.pliegos.web.filter.TimezoneBugfixFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TimezoneBugfix</filter-name>
		<url-pattern>/anuncios/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TimezoneBugfix</filter-name>
		<url-pattern>/auditorias/*</url-pattern>
	</filter-mapping>	
	<!-- /Timezone -->
		
	<!--  REST -->
	<filter>
		<filter-name>RestFaces Filter</filter-name>
		<filter-class>org.restfaces.Filter</filter-class>
		<init-param>
			<param-name>faces-mapping</param-name>
			<param-value>.faces</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/documentos/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/anuncios/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/sellado/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/auditorias/*</url-pattern>
	</filter-mapping>   
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/procedimientos/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/anunciosCodice/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/anunciosPrevios/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFaces Filter</filter-name>
		<url-pattern>/verificacionPublicacion/*</url-pattern>
	</filter-mapping>
	<!--  /REST -->
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Error pages -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/gestion/otros/error.iface</location>
	</error-page>
</web-app>
