#cabecera h1 a {
	background: url("../gobcan/img/logos/logo_istac.jpg") no-repeat scroll
		5px 25px transparent;
	float: left;
	height: 94px;
	padding: 0 0 7px;
	text-decoration: none;
	width: 310px;
}

#migas ul li strong {
	color: #000000;
	font-weight: bold;
}

.left-cellOFF2 ul {
	margin: -1em 0 0;
}

#cabecera {
	border-bottom: 1px solid #D7DDDB;
	border-left: 1px solid #D7DDDB;
	border-right: 1px solid #D7DDDB;
	float: left;
	margin: 0;
	padding-bottom: 5px;
	width: 760px;
}

#cabecera #cab_superior {
	text-align: right;
	width: 760px;
}

#cabecera #cab_superior ul {
	margin: 7px 0 0;
	padding: 0;
}

#cabecera #cab_superior ul li {
	display: inline;
	font-size: 0.9em;
	list-style-type: none;
	padding: 0 5px 0 0;
}

#cabecera #cab_superior ul li a {
	color: #535353;
	margin-right: 7px;
	text-decoration: none;
}

#cabecera #cab_superior ul li a:hover {
	text-decoration: underline;
}

#cabecera #menu_contextual {
	background-color: #003366;
	clear: both;
	float: left;
	height: 22px;
	width: 760px;
}

#cabecera #menu_contextual ul.menu {
	float: left;
	margin: 0;
	padding: 0 1px;
}

#cabecera #menu_contextual ul.menu li {
	display: inline;
	margin-right: 5px;
	text-transform: uppercase;
}

#cabecera #menu_contextual ul.menu li a {
	color: #FFFFFF;
	float: left;
	font: bold 0.9em Arial, Helvetica, sans-serif;
	margin-left: 3px;
	padding: 5px 21px 3px 22px;
	text-decoration: none;
}

#cabecera #menu_contextual ul.menu li a:hover {
	background-color: #3478B0;
	margin-left: 3px;
	text-decoration: none;
}

#cabecera #menu_contextual ul.menu li.selec a {
	background-color: #3478B0;
	color: #FFFFFF;
	display: inline;
	float: left;
	font-weight: bold;
	text-decoration: none;
}

#cabecera #menu_contextual #formulario_google {
	float: right;
}

#cabecera #menu_contextual #formulario_google .texto {
	color: #FFFFFF;
	font: 0.9em bold Arial, Helvetica, sans-serif;
	margin-top: 1px;
}

#cabecera #menu_contextual #formulario_google .buscar {
	border: 1px solid #535353;
	color: #535353;
	font: 0.9em Arial, Helvetica, sans-serif;
	height: 14px;
	margin-top: 1px;
	width: 108px;
}

#cabecera #menu_contextual #formulario_google .boton_busqueda {
	color: #FFFFFF;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	margin-right: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-decoration: none;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google .boton_busqueda:hover {
	background-color: #3478B0;
	text-decoration: none;
}

#cabecera #menu_contextual #formulario_google INPUT.boton {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:hover {
	background-color: #3478B0;
	border-color: #3478B0;
	border-right: 1px solid #3478B0;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:visited {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:active {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:focus {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera h1 {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2 {
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons a {
	background: url("../img/logos/cpj.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 154px;
}

#cabecera h2.cons-cagpa {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-cagpa a {
	background: url("../img/logos/capa.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-cbsjv {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-cbsjv a {
	background: url("../img/logos/cbsjv.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-ceh {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-ceh a {
	background: url("../img/logos/ceh.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-ceucd {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-ceucd a {
	background: url("../img/logos/ceucd.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-ceic {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-ceic a {
	background: url("../img/logos/ceic.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-cmaot {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-cmaot a {
	background: url("../img/logos/cmaot.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-copt {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-copt a {
	background: url("../img/logos/copt.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-cpjs {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-cpjs a {
	background: url("../img/logos/cpj.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-cs {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-cs a {
	background: url("../img/logos/cs.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.cons-ct {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.cons-ct a {
	background: url("../img/logos/ct.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.gob-submarca {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.gob-submarca a {
	background: url("../img/logos/logo_submarca.gif") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h2.pres-gob {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2.pres-gob a {
	background: url("../img/logos/pg.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 79px;
	text-decoration: none;
	width: 199px;
}

#cabecera h1 a {
	background: url("../gobcan/img/logos/logo_istac.jpg") no-repeat scroll
		5px 5px transparent;
	float: left;
	height: 74px;
	padding: 0 0 7px;
	text-decoration: none;
	width: 250px;
}

#cabecera h2 a {
	background: url("../gobcan/img/logos/logo_scs.jpg") no-repeat scroll 5px
		5px transparent;
	float: left;
	height: 74px;
	padding: 0 0 7px;
	text-decoration: none;
	width: 250px;
}