#cabecera h1 a {
	background: url("../images/logo_istac.jpg") no-repeat scroll
		5px 5px transparent;
	float: left;
	height: 74px;
	padding: 0 0 7px;
	text-decoration: none;
	width: 250px;
}

#migas ul li strong {
	color: #000000;
	font-weight: bold;
}

.left-cellOFF2 ul {
	margin: -1em 0 0;
}

#cabecera {
	border-bottom: 1px solid #D7DDDB;
	border-left: 1px solid #D7DDDB;
	border-right: 1px solid #D7DDDB;
	float: left;
	margin: 0;
	padding-bottom: 5px;
	width: 760px;
}

#cabecera #cab_superior {
	text-align: right;
	width: 760px;
}

#cabecera #cab_superior ul {
	margin: 7px 0 0;
	padding: 0;
}

#cabecera #cab_superior ul li {
	display: inline;
	font-size: 0.9em;
	list-style-type: none;
	padding: 0 5px 0 0;
}

#cabecera #cab_superior ul li a {
	color: #535353;
	margin-right: 7px;
	text-decoration: none;
}

#cabecera #cab_superior ul li a:hover {
	text-decoration: underline;
}

#cabecera #menu_contextual {
	background-color: #003366;
	clear: both;
	float: left;
	height: 22px;
	width: 760px;
}

#cabecera #menu_contextual ul.menu {
	float: left;
	margin: 0;
	padding: 0 1px;
}

#cabecera #menu_contextual ul.menu li {
	display: inline;
	margin-right: 5px;
	text-transform: uppercase;
}

#cabecera #menu_contextual ul.menu li a {
	color: #FFFFFF;
	float: left;
	font: bold 0.9em Arial, Helvetica, sans-serif;
	margin-left: 3px;
	padding: 5px 21px 3px 22px;
	text-decoration: none;
}

#cabecera #menu_contextual ul.menu li a:hover {
	background-color: #3478B0;
	margin-left: 3px;
	text-decoration: none;
}

#cabecera #menu_contextual ul.menu li.selec a {
	background-color: #3478B0;
	color: #FFFFFF;
	display: inline;
	float: left;
	font-weight: bold;
	text-decoration: none;
}

#cabecera #menu_contextual #formulario_google {
	float: right;
}

#cabecera #menu_contextual #formulario_google .texto {
	color: #FFFFFF;
	font: 0.9em bold Arial, Helvetica, sans-serif;
	margin-top: 1px;
}

#cabecera #menu_contextual #formulario_google .buscar {
	border: 1px solid #535353;
	color: #535353;
	font: 0.9em Arial, Helvetica, sans-serif;
	height: 14px;
	margin-top: 1px;
	width: 108px;
}

#cabecera #menu_contextual #formulario_google .boton_busqueda {
	color: #FFFFFF;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	margin-right: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-decoration: none;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google .boton_busqueda:hover {
	background-color: #3478B0;
	text-decoration: none;
}

#cabecera #menu_contextual #formulario_google INPUT.boton {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:hover {
	background-color: #3478B0;
	border-color: #3478B0;
	border-right: 1px solid #3478B0;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:visited {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:active {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera #menu_contextual #formulario_google INPUT.boton:focus {
	background-color: #003366;
	border-color: #003366;
	border-right: 1px solid #003366;
	border-style: solid;
	border-width: 1px;
	color: white;
	font: bold 0.9em bold Arial, Helvetica, sans-serif;
	height: 20px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}

#cabecera h1 {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#cabecera h2 {
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}