/****************************************************/
/*            GENERAL			                    */
/****************************************************/
table {
	font-size: 1em;
}

input[type="image"] {
	border: none;
}

/****************************************/
/* LIST 								 */
/****************************************/
.listadoTablas ul li {
	background: none;
}

/*****************************************
 H2 overwrite
/****************************************/
.h2roundbox {
	background: #c4d0dc;
	width: 758px;
	padding-bottom: 3px;
}

.h2top {
	background: url(../images/h2overwrite/top.gif) no-repeat top;
	width: 100%;
	font-size: 1px;
	height: 1px;
}

.h2content {
	font-weight: bold;
	font-size: 1em;
	padding: 2px 0 0 7px;
	margin: 0 0;
}

/*****************************************
 Indicators system: elements
/****************************************/
.itemTabla {
	float: left;
	padding-top: 1px;
}

.itemSubSubcapitulo {
	font-weight: bold;
	padding: 0 0 3px 0;
}

.itemSubcapitulo {
	font-weight: bold;
	margin-left: 0;
	padding: 0 0 3px 0;
}

.itemControlInfo {
	float: left;
	margin-right: 5px;
}

ul.subcaps>li {
	margin-left: 0;
	padding-left: 0 !important;
}

ul.subcaps,ul.subcaps>li>ul {
	margin-left: 0;
}

ul.subcaps li {
	margin-left: 0;
	padding-left: 0;
}