.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{text-align:left;}
table{font-size:1em;}
input[type="image"]{border:none;}
.listadoTablas ul li{background:none;}
.h2roundbox{background:#c4d0dc;width:758px;padding-bottom:3px;}
.h2top{background:url(../images/top.gif) no-repeat top;width:100%;font-size:1px;height:1px;}
.h2content{font-weight:bold;font-size:1em;padding:2px 0 0 7px;margin:0 0;}
.itemTabla{float:left;padding-top:1px;}
.itemSubSubcapitulo{font-weight:bold;padding:0 0 3px 0;}
.itemSubcapitulo{font-weight:bold;margin-left:0;padding:0 0 3px 0;}
.itemControlInfo{float:left;margin-right:5px;}
ul.subcaps>li{margin-left:0;padding-left:0 !important;}
ul.subcaps,ul.subcaps>li>ul{margin-left:0;}
ul.subcaps li{margin-left:0;padding-left:0;}
.indicatorInstanceDetail{padding-left:10px;}
.error{text-align:center;font-weight:bold;}
.languages-selector{text-align:right;font-style:italic;font-size:0.8em;padding-top:2px;}
#widget-options,#widget-preview{float:left;width:371px;}
#widget-preview{margin-left:20px;}
.widget-export textarea{display:block;width:100%;height:200px;}
.widget{margin-top:20px;margin-bottom:20px;}
.pagination{height:30px;margin:15px 0;text-align:center;}
.pagination ul{display:inline-block;margin:0;border-radius:3px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:28px;text-decoration:none;border:1px solid #B9C5D3;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#B9C5D3;}
.pagination .active a,.pagination .active a:hover{background:none;cursor:default;}
.pagination .active a{color:#cccccc;cursor:default;}
.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover{color:#ccc;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
#widget-creator h2{background:#C4D0DC;color:#101010;font-size:1em;line-height:25px;margin:0px 0;padding:5px 0px 5px 7px;width:auto;border-radius:5px 5px 0 0;}
.pagination ul li{background:none;padding:0;}
.pagination ul li.pagination-page{color:#000;background:none;cursor:default;}
.selected{background-color:#E3E9EE;color:#333;margin-bottom:1px;border-radius:3px;border:1px solid #B9C5D3;padding:4px;}
a.selectable-item{display:block;}
.selectable-item{padding:5px;line-height:25px;}
a.selected{color:#000 !important;padding:4px;}
a.selected:hover:after{color:#3a3a3a;content:'x';position:relative;right:0px;float:right;}
.selectionable-items{color:#525252;margin-top:5px;border-bottom:1px solid #B9C5D3;line-height:25px;width:100%;float:none;}
strong{font-weight:bold;}
.block-content{border:1px solid #C4D0DC;padding:5px;}
.block{margin:5px 0;}
.selectedItems{line-height:25px;}
.selectable-items-container{width:100%;}
#widget-preview-content{margin:0 auto 20px auto;}
#widget-creator .nav-tabs{margin:0;list-style:none;display:block;margin-bottom:20px;}
#widget-creator .nav-tabs{border-bottom:1px solid #B9C5D3;}
#widget-creator .nav-tabs>li{margin-bottom:6px;display:inline-block;background:none;padding:0;}
#widget-creator .nav-tabs>li,.nav-pills>li{}
#widget-creator .nav-tabs>.active a,.nav-tabs>.active>a:hover{color:#555;cursor:default;background-color:white;border:1px solid #B9C5D3;border-bottom-color:transparent;}
#widget-creator .nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:18px;border:1px solid transparent;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
#widget-creator .nav-tabs>li>a,.nav-pills>li>a{padding-right:12px;padding-left:12px;margin-right:2px;line-height:14px;}
#widget-creator label{width:160px;display:inline-block;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
.col3{float:left;width:250px;margin-left:5px;}
.col3:first-child{margin-left:0;}
.col2{float:left;width:250px;margin-left:20px;}
.col2:first-child{margin-left:0;}
.widget-type{text-align:center;border:1px solid #fff;padding:5px;}
.widget-type-container{width:544px;margin:0 auto;}
.widget-type-active{background-color:#E3E9EE;color:#333;border-radius:3px;border:1px solid #B9C5D3;}
.widget-data-title,.widget-type-title{font-weight:bold;line-height:25px;margin-bottom:2px;}
.measures .selectable-item-container{width:150px;float:left;margin-left:3px;}
.measures .selectable-item-container:first-child{margin-left:0;}
.widget-box-title{font-weight:bold;border-bottom:1px solid #B9C5D3;line-height:25px;margin-bottom:7px;}
.widget-box-title small{font-weight:normal;color:#525252;}
.btn-group-two .btn{width:50%;box-sizing:border-box;}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 14px;margin-bottom:0;font-size:11px;line-height:16px;*line-height:16px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbbbbb;*border:0;border-bottom-color:#a2a2a2;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-group{margin:0;list-style:none;display:block;position:relative;font-size:0;vertical-align:middle;white-space:nowrap;*margin-left:.3em;margin-bottom:5px;}.btn-group:first-child{*margin-left:0;}
.btn-group>.btn{position:relative;}
.btn-group>.btn+.btn{margin-left:-1px;}
.tab-content{*zoom:1;display:inline-block;width:100%;}.tab-content:before,.tab-content:after{display:table;content:"";line-height:0;}
.tab-content:after{clear:both;}
#widget-creator fieldset{border:1px solid #B9C5D3;padding:10px;margin-bottom:10px;}
#widget-creator .checkbox{display:block;color:#333;cursor:default;height:20px;line-height:20px;margin:0 0 5px 0;}#widget-creator .checkbox input{margin:0 10px 0 0;}
#widget-creator input[type=text]{font-size:11px;width:400px;padding:5px;}
#widget-creator .radio input{margin:0 0 10px 0;}
#widget-creator .control-group{margin-bottom:20px;}
#widget-creator input.small{width:80px;}
#widget-creator .width-slider{margin-bottom:10px;}
#widget-creator .widget-data-geographicalGranularities{margin-bottom:10px;}
#widget-creator .select2-search-field{background:none;}
#widget-creator .hidden{display:none;}
#widget-creator .widget-import-netvibes img{vertical-align:middle;}
