/*	##################################
   	GENERAL
	################################## */
body {
	margin: 0px;
	padding: 0px;
	background-color: #C4D0DC;
	color: #4a4a4a;
	font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
	font-size: 12px;
}

a {
	color: blue;
	text-decoration: underline;
	outline: none;
}

a img {
	border: none;
}

hr {
	height: 1px;
	margin: 20px 0;
	background: #d5dfe7;
	border: none;
}

h3 {
	color: #2B5D86;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	clear: both;
}

h2 {
	color: black;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
	width: 100%;
}

h1 {
	color: #2B5D86;
	margin-bottom: 0.5em;
	font-size: 1.6em;
	font-weight: bold;
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

strong {
	font-weight: bold;	
}

/*	##################################
   	BODY
	################################## */
.container {
	width: 762px;
	background-color: #FFFFFF;
	border-style: none;
	height: auto;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 762px;
}

/*	##################################
   	HEADER
	################################## */
#header {
	border-bottom: 1px solid #D7DDDB;
	border-left: 1px solid #D7DDDB;
	border-right: 1px solid #D7DDDB;
	float: left;
	margin: 0;
	padding-bottom: 5px;
	width: 100%;
}

#header #top {
	height: 20px;
}

#header #menu {
	background-color: #003366;
	clear: both;
	float: left;
	height: 22px;
	width: 100%;
}

#header h1 {
	margin: 0;
	padding: 0;
	text-indent: -5000px;
}

#header h1 a {
	background: url("../images/logo_istac.jpg") no-repeat scroll 5px 5px
		transparent;
	float: left;
	height: 74px;
	text-decoration: none;
	width: 315px;
}

/*	##################################
   	FOOTER
	################################## */
#footer {
	background-color: #FFDF61;
	float: left;
	height: 23px;
	margin: 10px 0 0;
	width: 100%;
	font-size: 0.8em;
}

#footer .left {
	color: #000000;
	float: left;
	margin: 0;
	padding: 6px 0 0 16px;
	width: 40%;
}

#footer .right {
	float: right;
	text-align: right;
	width: 50%;
}

#footer .right ul {
	list-style-type: none;
	margin: 0;
	padding: 6px 0 0;
}

#footer .right ul li {
	display: inline;
	padding: 0 5px 0 0;
}

#footer .right ul li a {
	color: #000000;
	margin-right: 7px;
	text-decoration: none;
}

#footer .right ul li a:hover {
	text-decoration: underline;
}

/*	##################################
   	MENU	
	################################## */
#menu {
	margin: 0 0 10px 0;
	line-height: 30px;
	background-color: #003366;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#menu ul {
	padding: 0 0 0 20px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	margin: 0px;
	padding: 0 20px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

#menu li.selected a,#menu li a:hover {
	text-transform: uppercase;
	font-weight: bold;
}

/*	##################################
   	MENU LEFT
	################################## */
ul.menu-left {
	line-height: 26px;
}

.menu-left li {
	background: url(../img-2/bullet.png) no-repeat left 50%;
	padding-left: 25px;
	margin-bottom: 1px;
}

.menu-left li.selected,.menu-left li:hover {
	cursor: pointer;
	color: #2b5d86;
	background-color: #F2F2F2;
}

/*	##################################
   	TABLES	
	################################## */
.data-table {
	margin-bottom: 10px;
}

.data-table-header {
	clear: both;
	background-color: #D8DFEA;
	height: 22px;
	border-bottom: 1px solid #B3B3B3;
	padding: 3px;
}

.data-table-footer {
	background-color: #D8DFEA;
	height: 28px;
	border-top: 1px solid #B3B3B3;
}

.data-table table {
	width: 100%;
}

.data-table table thead th {
	background: none repeat scroll 0 0 #F2F2F2;
	padding-left: 3px;
	text-align: left;
	line-height: 21px;
}

tbody td {
	border-top: 1px solid #E2E2E2;
	padding-left: 3px;
	line-height: 21px;
}

tbody tr:hover td {
	background: none repeat scroll 0 0 #E5ECF9;
}

/*	##################################
   	COLS
	################################## */
.col-20 {
	width: 20%;
}

.col-25 {
	width: 25%;
}

.col-30 {
	width: 30%;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-75 {
	width: 75%;
}

/*	##################################
   	SEPARATORS
	################################## */
.sep-1 {
	height: 1px;
}

.sep-2 {
	height: 2px;
}

.sep-3 {
	height: 3px;
}

.sep-4 {
	height: 4px;
}

.sep-5 {
	height: 5px;
}

.sep-20 {
	height: 20px;
}

/*	##################################
   	CONTAINERS
	################################## */
div.container-center {
	text-align: center;
	padding: 10px;
}

div #change-visual-element {
	margin-left: 1%;
	border-top: 1px dashed #ccc;
	margin-top: 10px;
	padding-top: 10px;
	float: left;
	position: relative;
}

/*	##################################
   	FORMS	
	################################## */
.form fieldset {
	background: none repeat scroll 0 0 #F2F2F2;
	border: 1px solid #B3B3B3;
	padding: 5px;
	margin-bottom: 5px;
}

.field {
	margin: 0em 0;
	line-height: 21px;
	position: relative;
	clear: both;
}

.field .input {
	float: left;
	width: 70%;
}

.field .input div {
	background: #FFFFFF;
	border: 1px solid #B3B3B3;
	padding: 1px;
}

.field .input div.focus {
	border-color: #2D628E;
}

.field.error .input div {
	border: 1px solid #DD3C10;
}

.field.error input {
	color: #DD3C10;
}

.field input {
	width: 100%;
	border: 0px;
	padding: 0px;
	background: #FFFFFF;
}

.field div.label {
	cursor: pointer;
	float: left;
	width: 60%;
	text-align: left;
	font-weight: bold;
}

.field div.label-output {
	cursor: default;
}

.field div.label label {
	float: right;
}

.field div.label em {
	color: #DD3C10;
	margin-left: 1px;
	float: right;
	width: 5px;
	display: block;
}

.field div.label div {
	padding-right: 5px;
}

.field div.label,.field div.input,.field div.output {
	margin-top: 3px;
}

.field div.input span.hint {
	clear: both;
	float: none;
	color: #777777;
	font-size: 0.85em;
}

.field div.output {
	float: left;
}

.field div.msg {
	display: none;
}

.field div.msg img.error {
	margin-left: 5px;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: no-repeat url("../../img-2/msg/exclamation-red.png");
}

/*	##################################
   	SEARCH
	################################## */

.search {
	display: inline-block;
	float: right;
	width: 210px;
	height: 18px;
	padding: 4px 14px;
	margin-bottom: 9px;
	/*font-size: 13px;*/
	line-height: 18px;
	color: #555;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 14px;
}

.search-facet {
	border: 1px solid #003366;
	margin-bottom: 10px;
	padding: 5px;
}

.search-result {
	border: 1px solid #0F5B95;
	margin-bottom: 10px;
	padding: 5px;
}

.search-result li {
	margin-left: 15px;
	margin-top: 5px;
}

.search-title {
	font-weight: bold;
	text-decoration: underline;
}

#search-box {
	width: 86%;
}

#search-button {
	float: right;
}

/*	##################################
   	OTHERS
	################################## */

input:focus,textarea:focus {
	box-shadow: 0 0 8px rgba(203, 115, 14, 0.6);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
}

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #C09853;
}

/*	##################################
   	INDICATORS SYSTEMS
	################################## */
#indicatorsSystems {
}

.indicatorsSystems-item {
	margin-bottom: 10px;
	background-color: #F5F5F5;
	padding: 10px;
	border-radius: 5px;
}

.indicatorsSystems-item p{
	margin: 5px;	
}

.indicatorsSystems-item a{
	padding: 0;	
}

/*	##################################
   	INDICATORS
	################################## */
#indicators {
}

.indicators-item {
	margin-bottom: 10px;
	background-color: #F5F5F5;
	padding: 10px;
	border-radius: 5px;
}

.indicators-item p{
	margin: 5px;	
}

.indicators-item a{
	padding: 0;	
}