/* Common widget */

.istac-widget {
    font: 11px Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #333;
    border: 3px solid;
	border-radius: 3px;
    background-color: #fff;
}

.istac-widget a:link, .istac-widget a:visited,  .istac-widget a:active, .istac-widget a:hover{
    color: black;
    text-decoration: none;
}

.istac-widget-title {
    line-height: 25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

/* LastData Widget*/

.istac-widget-lastData table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 11px;
}

.istac-widget-lastData tbody tr:nth-child(odd) td, .istac-widget-lastData tbody tr:nth-child(odd) th {
	background-color: #ebebeb;
}

.istac-widget-lastData th, .istac-widget-lastData table td {
	padding: 3px;
	line-height: 18px;
	text-align: right;
	vertical-align: top;
	border-top: 1px solid #d7dddb;
}

.istac-widget-lastData th {
	font-weight:  bold;
    text-align: right;
}

.istac-widget-lastData tbody th {
    text-align: left;
}

.istact-widget-footer{
    background: url("../images/istacLogoMini.png") no-repeat right;
    font-weight: bold;
    text-align: right;
    line-height: 32px;
    padding-right: 28px;
    margin-right: 5px;
}

.istact-widget-footer a {
    color: #3478B0;
    text-decoration: none;
}

.istact-widget-footer a:hover, .istact-widget-footer a:active, .istact-widget-footer a:visited {
    color: #3b84c3;
    text-decoration: none;
}
