/* Common widget */

.istac-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    border: 3px solid;
	border-radius: 3px;
    background-color: #fff;
}

.istac-widget-title {
    font-size: 13px;
    line-height: 25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* LastData Widget*/

.istac-widget-lastData table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.istac-widget-lastData tbody tr:nth-child(odd) td, .istac-widget-lastData tbody tr:nth-child(odd) th {
	background-color: #F9F9F9;
}

.istac-widget-lastData th, .istac-widget-lastData table td {
	padding: 3px;
	line-height: 18px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #DDD;
}

.istac-widget-lastData th {
	font-weight:  bold;	
}

/* Temporal Widget */
