<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<override>
		<system />

		<!-- STATIC configurations -->
		<properties fileName="${environment.indicators.data}/conf/static/resources.xml" config-optional="false" />
	</override>
</configuration>