<div class="widget-export">
    <p>Copia este código HTML en tu página</p>

    <textarea id="code-container" readonly="readonly">
<div id="istac-widget"></div>
<script src="{{script}}"></script>
<script>
    new IstacWidget({{code}}});
</script>
    </textarea>

    <p>
        <a target="_blank" href="{{context}}/widgets/example?{{parameters}}">Ejemplo de uso</a>
    </p>
    <p class="widget-import-netvibes">
        <a target="_blank" href="{{context}}/widgets/uwa?{{uwaParameters}}" class="widget-import-netvibes-link" href="#"><img src="{{context}}/theme/images/netvibes.png"> Importar a Netvibes</a>
    </p>

</div>
