<div class="widget-export">
    <p>Selecciona, copia y pega este código en tu página</p>

    <textarea id="code-container" readonly="readonly">
<div id="istac-widget"></div>
<script src="{{script}}"></script>
<script>
    new IstacWidget({{code}}});
</script>
    </textarea>

    <p class="widget-import-netvibes">
        <a target="_blank" href="{{context}}/widgets/example?{{parameters}}">Ejemplo de uso</a> | <a target="_blank" href="{{context}}/widgets/uwa?{{uwaParameters}}" class="widget-import-netvibes-link" href="#"><img src="{{context}}/theme/images/netvibes.png" class="netvibes-icon"> Añadir a Netvibes</a>
    </p>

</div>
