<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.MEASURES" }}</div>
    <div class="widget-data-measures"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.SYSTEM_OR_SUBJECT" }}</div>

    <label class="radio">
        <input type="radio" name="groupType" value="system"> {{ translate "OPTIONS.DATA.SYSTEM" }}
    </label>
    <label class="radio">
        <input type="radio" name="groupType" value="subject"> {{ translate "OPTIONS.DATA.SUBJECT" }}
    </label>


    <div class="widget-data-system"></div>
    <div class="widget-data-subject"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.GEOGRAPHICAL_VALUES" }}</div>
    <div class="widget-data-geographicalGranularities"></div>
    <div class="widget-data-geographicalValues"></div>
</div>


<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.INDICATORS" }}</div>
    <div class="widget-data-instances"></div>
    <div class="widget-data-indicators"></div>
</div>

<a class="rounded_button widget-update-preview"><span>{{ translate "OPTIONS.DATA.UPDATE_PREVIEW" }}</span></a>