<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.MEASURES" }}</div>
    <div class="widget-data-measures"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.SYSTEM" }}</div>
    <div class="widget-data-system"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.INDICATORS" }}</div>
    <div class="widget-data-instances"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.GEOGRAPHICAL_VALUES" }}</div>
    <div class="widget-data-geographicalValues"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">{{ translate "OPTIONS.DATA.TIME_GRANULARITIES" }}</div>
    <div class="widget-data-timeGranularities"></div>
</div>

<a class="rounded_button widget-update-preview"><span>{{ translate "OPTIONS.DATA.UPDATE_PREVIEW" }}</span></a>