<div class="control-group">
    <div class="widget-data-title">Medidas</div>
    <div class="widget-data-measures"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">Sistema</div>
    <div class="widget-data-system"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">Indicadores</div>
    <div class="widget-data-instances"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">Valores espaciales</div>
    <div class="widget-data-geographicalValues"></div>
</div>

<button class="widget-update-preview">Actualizar vista previa</button>


