<div class="control-group">
    <div class="widget-data-title">Medidas</div>
    <div class="widget-data-measures"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">Sistema o Tema</div>

    <label class="radio">
        <input type="radio" name="groupType" value="system"> Sistema
    </label>
    <label class="radio">
        <input type="radio" name="groupType" value="subject"> Tema
    </label>

    <div class="widget-data-system"></div>
    <div class="widget-data-subject"></div>
</div>

<div class="control-group">
    <div class="widget-data-title">Valores espaciales</div>
    <div class="widget-data-geographicalGranularities"></div>
    <div class="widget-data-geographicalValues"></div>
</div>


<div class="control-group">
    <div class="widget-data-title">Número de indicadores recientes</div>
    <div class="widget-data-recent">
        <input type="text" name="nrecent">
    </div>
</div>

<a class="rounded_button widget-update-preview"><span>Actualizar vista previa</span></a>


