<input type='text' class='indicator-picklist-filter' placeholder='{{ translate "PICKLIST.FILTER_PLACEHOLDER" }}' {{#if disableFilterInput}} disabled {{/if}}>
<div class="indicator-picklist">
    <ul class="indicator-picklist-first-list">
        {{#each subjectsAndIndicatorsTree}}
            {{> subjectsAndIndicatorsTreeNode }}
        {{/each}}
    </ul>
    <div class="indicator-picklist-center-buttons">
        <button class="selected-to-the-first-list-button" title='{{ translate "PICKLIST.MOVE_SELECTED_TO_FIRST_LIST" }}'>&lt;</button>
        <button class="all-to-the-first-list-button" title='{{ translate "PICKLIST.MOVE_ALL_TO_FIRST_LIST" }}'>&lt;&lt;</button>
        <button class="selected-to-the-second-list-button" title='{{ translate "PICKLIST.MOVE_SELECTED_TO_SECOND_LIST" }}'>&gt;</button>
    </div>
    <ul class="indicator-picklist-second-list">
    </ul>
</div>
