<input type='text' class='indicator-picklist-filter' placeholder='{{ translate "PICKLIST.FILTER_PLACEHOLDER" }}'>
<div class="indicator-picklist">
    <ul class="indicator-picklist-left-list">
        {{#each subjectsAndIndicatorsTree}}
            {{> subjectsAndIndicatorsTreeNode }}
        {{/each}}
    </ul>
    <div class="indicator-picklist-center-buttons">
        <button class="selected-to-the-left-button">&lt;</button>
        <button class="all-to-the-left-button">&lt;&lt;</button>
        <button class="selected-to-the-right-button">&gt;</button>
        <button class="all-to-the-right-button">&gt;&gt;</button>
    </div>
    <ul class="indicator-picklist-right-list">
    </ul>
</div>
