<div class="widget-type-container">

    <div class="col2 widget-type {{lastDataClass}}">
        <a href="#" data-type="lastData">
            <div class="widget-type-title">Últimos datos</div>
            <p>Tabla que muestra los últimos datos disponibles</p>
        </a>
    </div>


    <div class="col2 widget-type {{temporalClass}}">
        <a href="#" data-type="temporal">
            <div class="widget-type-title">Serie temporal</div>
            <p>Gráfica que muestra la evolución temporal de un indicador para diferentes valores geográficos</p>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
