<div class="widget-type-container">

    <div class="col2 widget-type {{lastDataClass}}">
        <a href="#" data-type="lastData">
            <div class="widget-type-title">{{ translate "LAST_DATA.TITLE" }}</div>
            <p>{{ translate "LAST_DATA.DESCRIPTION" }}</p>
        </a>
    </div>


    <div class="col2 widget-type {{temporalClass}}">
        <a href="#" data-type="temporal">
            <div class="widget-type-title">{{ translate "TEMPORAL.TITLE" }}</div>
            <p>{{ translate "TEMPORAL.DESCRIPTION" }}</p>
        </a>
    </div>
    <div class="clearfix"></div>
</div>