<div class="istac-widget-title">
    <a class="istac-widget-title-text" href="#" target="_blank"></a>
</div>
<div class="istac-widget-body">
    <div class="istac-widget-content">
    </div>
    <div class="istac-widget-body-embed">
        <textarea rows="10"></textarea>
        <a href="#" class="hideEmbed">Cerrar</a>
    </div>
    <div class="istac-widget-body-allIndicators" style="display:none">
        <p class="istac-widget-embed"><a href="#" title="Incrustar widget">&lt;/&gt;</a></p>
        <img src="http://www.gobiernodecanarias.org/opencms8/export/system/modules/es.gobcan.istac.web/resources/images/maslight.gif"><a target="_blank" href="#">más indicadores</a>
    </div>
    <div class="istac-widget-footer">
        <p class="istac-widget-credits"><a target="_blank" href="{{url}}/widgets/creator">Widget facilitado por ISTAC</a></p>
    </div>
</div>
