<div class="istac-widget-title">
    <span class="istac-widget-title-text">
        <a href="#" target="_blank"></a>
    </span>
</div>
<div class="istac-widget-body">
    <div class="istac-widget-content">
    </div>
    <div class="istac-widget-body-embed">
        <textarea rows="10"></textarea>
        <a href="#" class="hideEmbed">Cerrar</a>
    </div>
    <div class="istac-widget-body-allIndicators">
        <p class="istac-widget-embed"><a href="#" title="Incrustar widget">&lt;/&gt;</a></p>
        <span class="istac-widget-body-allIndicators-text">
            <img src="{{baseUrl}}/theme/images/flecha-larga.gif"><a target="_blank" href="#">más indicadores</a>
        </span>
    </div>
    <div class="istac-widget-footer">
        <p class="istac-widget-credits"><a target="_blank" href="{{widgetsTypeUrl}}">widget facilitado por {{organisation}}</a></p>
    </div>
</div>
