<table>
    <thead>
        <tr>
            <th class="istac-widget-last-data-indicator-column istac-widget-lastData-title">{{ translate
                "INDICATOR.TITLE" }}</th>
            {{#each measures}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each datasets}}
        <tr class="{{cssClass}}">
            <td class="istac-widget-last-data-indicator-column">
                <div class="istac-widget-lastData-title"><a style="color: {{indicatorNameColor}}"
                        href="{{titleLink}}">{{title}}</a></div>
                <div class="istac-widget-unit">{{ temporalLabel }}</div>
            </td>
            {{#each observations}}
            <td>
                {{#if value}}
                <div>
                    {{#if showSparkline }}
                    {{#ifEquals type "bar"}}
                    <span class="inlinesparkline-bar" data-type="bar" data-time="{{timeTitles}}" data-unit="{{unit}}">{{
                        values }}</span>
                    {{/ifEquals}}
                    {{#ifEquals type "line"}}
                    <span class="inlinesparkline-line" data-type="line" data-time="{{timeTitles}}"
                        data-unit="{{unit}}">{{ values }}</span>
                    {{/ifEquals}}
                    {{else}}
                    {{#if anySparkline}}
                    <span class="inlinesparkline"></span>
                    {{/if}}
                    {{/if}}
                    <span>
                        <span class="istac-widget-observation">{{ value }} </span>
                        <div class="istac-widget-unit"> {{ unit }}</div>
                    </span>
                </div>
                {{else}}
                -
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>