<div class="istac-widget-uwa-body">
    <div class="istac-widget-content">
    </div>
    <div class="istac-widget-body-embed">
        <textarea rows="10"></textarea>
        <a href="#" class="hideEmbed">{{ translate "COMMON.CLOSE" }}</a>
    </div>
    <div class="istac-widget-footer">
        <p class="istac-widget-embed"><a href="#">&lt;/&gt;</a></p>
        <p class="istac-widget-credits"><a href="{{widgetsTypeUrl}}">{{ translate "EMBED.CREDITS" }}
                {{organisation}}</a></p>
    </div>
</div>